.examples {
  margin: 3rem;
  width: 100%;
  display: flex;
}

.name-area {
  flex: 1;
  padding: 1rem;
}

.name-area li {
  cursor: pointer;
  margin: 1rem!important
}

.name-area .small {
  font-size: 10px;
  line-height: 8px;
  color: lightgray;

}

.name-area li:hover {
  font-weight: bolder;
}

.edit-area {
  flex: 2;
  border-left: 1px solid lightgray;
  padding: 1rem;
}

.name-area  .ui.rating {
  font-size: .6rem!important;
}

