.main-page {
  margin: 5rem;
  font-size: 1.2rem;
}

.main-page a {
  color: #6e6e6e!important;
}
.text-main-page {
  padding: 2rem;

}

.gerrit-card {
  width: 18rem!important;
  padding: 3px!important;
}

.single-card {
  margin-left: 2rem;;
}

@media screen and (max-width: 600px)
{
  .single-card {
    margin: 1rem;
  }
  .main-page {
    margin: 1rem;
    font-size: 1rem;
  }

  .text-main-page {
    padding: 1rem 0;
    font-size: 12px;
  }
}

.form-card {
  background: url('../../resources/form.png')!important;
  background-repeat: no-repeat!important;;
  background-size: contain!important;
  height: 9rem;
}

.blocks-card {
  background: url('../../resources/blocks.png')!important;
  background-repeat: no-repeat!important;;
  background-size: contain!important;
  height: 9rem;
}

.weather-card {
  background: url('../../resources/weather.png')!important;
  background-repeat: no-repeat!important;;
  background-size: contain!important;
  height: 9rem;
}

.blog-card {
  background: url('../../resources/blog.png')!important;
  background-repeat: no-repeat!important;;
  background-size: contain!important;
  height: 9rem;
}

.photos-card {
  background: url('../../resources/photos.png')!important;
  background-repeat: no-repeat!important;;
  background-size: contain!important;
  height: 9rem;
}

.card-holder {
  display: flex;
  min-height: 40rem;
}


