.blocks {
  padding: 20px;
  margin-top: 18px;
}

.container {
  margin: 0 3rem;
  display: flex;
}

.field {
  width: 21.8rem;
  height: 20rem;
  border: 1px solid lightgrey;
  border-top: none;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.block {
  position: absolute;
  border: 1px solid lightgrey;
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 7px;
  opacity: .5;
  cursor: pointer;
}

.boston {
  opacity: 1!important;
  cursor: default;
  background: url('../../../resources/boston.png')!important;
}

/* .block:hover {
  opacity: 1!important;
} */

.reset-holder {
  display: inline-flex;
  align-items: flex-end;
  margin-left: 2rem;
}

.reset-button {
  color: white;
  background: silver;
  width: 7rem;
  line-height: 26px;
  border: 1px solid silver;
  cursor: pointer;
  opacity: .6;
  margin: 1rem 2rem;
}

.reset-button-active {
  color:white;
  background: gray;
  width: 10rem;
  line-height: 2rem;
  border: 1px solid silver;
  cursor: pointer;
  opacity: .6;
  margin-left: 2rem;
}

.reset-button:hover {
  background: white;
  color: darkslategray;
}

.reset-button:focus,  .reset-button:active, .reset-button:visited, .reset-button-active:focus, .reset-button-active:active, .reset-button-active:visited {
outline: none!important;
}

.congrats {
  text-align: center;
  height: 100%;
  font-size: 1.2rem;
  padding-top: 6rem;
  color: gray;
}

.block-numbers {
  position: relative;
  left: 3rem;
  color: #b5acac;
}

.help-button {
  position: relative;
  top: -24.1rem;
  left: 26rem;
  cursor: pointer;
  opacity: .4;
}

.help-text {
  position: relative;
  top: -25.5rem;
  left: 28rem;
  color: grey;
  width: 33rem;
}

.help-text-close {
  cursor: pointer;
  color: lightgrey;
}

.difficulty {
  position: relative;
  top: -14px;
  left: 14px;
}

.difficulty .buttons {
  border-radius: 0px!important;
}

.difficulty .active {
  background: grey;
  color: white;
}