.about-page {
  margin: 5rem;
  font-size: 1.2rem;
}

.text-about-page {
  padding: 2rem 0;
  line-height: 2rem;
  text-align: justify;
  width: 90vw;
}

.quotes {
  font-family: monospace;
  font-size: large;
}
