.weatherWeatherApp {
  text-align: center;
}

.weatherWeatherApp li {
  margin: 0px;
  display: block;
}

.hour-holder {
  width: 8rem;
  font-size: .7rem;
  float: left;
  border: 1px solid lightblue;
  background: lightblue;
  margin: 1rem;
}

.response {
  width: 18.4rem;
  padding: 1rem;
  text-align: left;
  border-right: 1px solid lightgrey;
}

.day-ul {
  list-style: none;
  padding-inline-start: 0px;
}

.day-holder {
  /* background: lightblue; */
  display: inline-block;
  width: 9rem;
  height: 23rem;
  margin-left: 1rem;
  vertical-align: top;
  padding: 0.2rem;
  border-radius: 6px;
}

.top-day {
  min-height: 5rem;
}

.summary {
  font-size: .75rem;
}

.topnav {
  position: absolute;
  top: 1rem;
  z-index: 2001;
  left: 4rem;
  display: flex;
}


:focus {
  outline: none !important;
}

.weather {
  width: 95%;
  height: 121px;
  margin: auto;
  /* background-size: cover!important; */
}

.partly-cloudy-day {
  background: url('weather.jpg') 1656px 849px;
}

.partly-cloudy-night {
  background: url('weather.jpg') 1124px 553px;
}

.sunny, .clear-day {
  background: url('weather.jpg') 1656px 1153px;
}

.clear-night {
  background: url('weather.jpg') 1400px 553px;
}

.rain {
  background: url('weather.jpg') 302px 1156px;
}

.cloudy {
  background: url('weather.jpg') 557px 1153px;
}

.snow {
  background: url('weather.jpg') 302px 553px;
}

.thunder {
  background: url('weather.jpg') 839px 1153px;
}

.wind {
  background: url('weather.jpg') 561px 553px;
}

.perc {
  margin-top: .75rem;
}

.graph {
flex: 1;
}

.nav-buttons {
  position: relative;
  top: -262px;
  left: -39px;
  z-index: 2000;
}

.location-ul {
  display: inline-flex;
}

button {
  cursor: pointer;
}

.location-button {
  width: 8rem;
  height: 2rem;
  margin: .2rem;
  font-size: .8rem;
  font-weight: 600;
}

.selected {
  background: darkblue;
  color: white;
}

.temp-button {
  font-size: 31px;
  font-weight: 600;
  /* border-radius: 50%; */
  /* background: darkblue; */
  color: white;
  border: none;
}

.hours-holder {
    max-height: 20rem;
    margin-left: 2rem;
}

.bottom-info {
  display: flex;
  margin-top: 4rem;
  width: 95%;
}

.hourly-temp {
  display: none;
  width: 32px;
  height: 27px;
  background-size: cover;
  position: relative;
  top: .4rem;
  margin-right: 1rem;
}

.weatherapp {
  text-align: center;
}

.total {
  display: flex;
}

.left {
  flex: 1
}

.center {
 flex: 2
}

.right {
 flex: 1;
}

.graph-options {
  opacity: .4;
}

@media screen and (max-width: 600px)
{
  .graph-options {
    width: 100vw;
  }
  .response {
    width: 8.4rem;
  }
  .weather {
    width: 129px;
    height: 113px;
    margin: auto;
  }
  .top-day {
    height: 4rem;
    overflow: hidden;
}
  .day-holder {
        /* background: lightblue; */
        display: inline-block;
        width: 9rem;
        margin-left: 0rem;
        /* height: 23rem; */
        /* margin-left: 1rem; */
        /* vertical-align: top; */
        /* padding: 0.2rem; */
        /* border-radius: 6px; */
        border: 1px solid lightgray;
  }
}