  .nav-bar {
    padding: 1rem 8rem;
    text-align: right;
    width: 100%;
    position: sticky;
    top: 0;
    height: 3rem;
    background: #fff;
    z-index: 2000;
    color: red;
}


a:active {
  font-weight: bolder;
}

@media screen and (max-width: 600px)
{
/* CSS Document */
  .nav-bar {
    text-align: left;
    position: sticky;
    top: 0;
    background: #f18c48;
    z-index: 2000;
    padding: .5rem;
    height: 3rem!important;
  }

  .nav-bar a {
    color: white!important;
  }
}
